@use '../global.scss';

.communication {
  width: 328px;
  margin: 0 auto 24px;
  display: flex;
  justify-content: space-between;
}

.communication__schedule-item + .communication__schedule-item {
  margin-top: 10px;
}

.communication__schedule-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.communicatiion__schedule-text {
  margin-left: 8px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: global.$basic-black;
}

.communication__social-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 7px;
}

.communication__social-item + .communication__social-item {
  margin-left: 6px;
}

.communication__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: global.$basic-grey;
  border-radius: 5px;
}

.communication__social-item:hover .communication__social-icon path {
  fill: global.$basic-blue;
}

.sections-buttons-list__button:hover .sections-buttons-list__text {
  color: global.$basic-blue;
}

.sections-buttons-list__button:hover .sections-buttons-list__arrow path {
  stroke: global.$basic-blue;
}
