@use '../global.scss';

// gadgets
.events-popup {
  width: 204px;
  margin-left: 40px;
  top: 180px;
  left: 697px;
  position: absolute;
  box-shadow: 0 -4px 4px 0 global.$shadow-black;
  background: global.$basic-white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 25px 0 25px 25px;
}

.events-popup__item + .events-popup__item {
  margin-top: 20px;
}

.events-popup__link {
  width: 209px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
}

.events-popup__item-text {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: global.$basic-black;
}

.events-popup__item:hover .events-popup__item-text {
  color: global.$basic-blue;
}
