@use '../global.scss';

.header-mm-menu__info-container {
  background: #f4f4f4;
  padding: 5px 0 4px;
}

.header-mm-menu__inner-container {
  width: 328px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mm-menu__phone {
  order: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.header-mm-menu__phone-icon {
  display: inline-block;
  margin-right: 7px;
}

.header-mm-menu__phone-icon:hover path {
  fill: global.$basic-blue;
}

.header-mm-menu__phone .header-mm-menu__phone-number {
  font-family: global.$arial;
  font-style: normal;
  font-weight: 400;
  color: global.$basic-black;
  font-size: 14px;
  display: inline-block;
}

.header-mm-menu__phone-number:hover {
  color: global.$basic-blue;
}

.header-mm-menu__languages-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  // @media (min-width: global.$desktop-width) {
  //   display: none;
  // }
}

.header-mm-menu__languages-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mm-menu__languages-list {
  order: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
}

.header-mm-menu__language-item + .header-menu__language-item {
  margin-left: 2px;
}

.header-mm-menu__language-item-bar {
  display: inline-block;
  font-family: global.$arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: global.$basic-black;
}

.header-mm-menu__language-button {
  display: inline-block;
  font-family: global.$arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: global.$basic-black-transparent-1;
  text-decoration: none;
}

.header-mm-menu__language-button:hover {
  color: global.$basic-blue;
}

.header-mm-menu__language-button--active {
  color: global.$basic-black;
}

.header-mm-menu__language-item-bar {
  color: global.$basic-black;
}

.header-mm-menu__content-container {
  display: grid;
  grid-template-rows: 58px 46px;
  grid-template-columns: 40px 46px 156px 40px 46px;
  width: 328px;
  // margin: 0 auto 24px;
  margin: 0 auto;
  padding: 17px 0 24px;
}

.header-mm-menu__logo-link {
  grid-row: 1/2;
  grid-column: 3/4;
  margin: -8px 0 0 50px;
}

.header-mm-menu__button {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: global.$basic-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.header-mm-menu__button--opened {
  background: global.$basic-dark-grey;
}

.header-mm-menu__button--opened:hover svg path {
  stroke: global.$basic-blue;
}

.header-mm-menu__button svg {
}

.header-mm-menu__search-form {
  grid-row: 2/3;
  grid-column: 1/6;
  width: 326px;
  border: 1px solid global.$basic-blue-transparent-1;
  border-radius: 5px;
  display: flex;
  justify-content: flex;
  align-items: flex-start;

  // @media (min-width: global.$desktop-width) {
  //   width: 651px;
  //   grid-row: 1/2;
  //   grid-column: 3/4;
  //   align-self: start;
  // }
}

.header-mm-menu__search-form:hover {
  border: 1px solid global.$basic-blue;
}

.header-mm-menu__search-input {
  margin: 0;
  padding: 0 0 0 16px;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;

  // @media (min-width: global.$desktop-width) {
  //   padding: 15px 0 15px 24px;
  // }
}

.header-mm-menu__search-input::placeholder {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: global.$basic-black-transparent-2;
}

.header-mm-menu__search-button {
  margin: 2px 0 0 -42px;
  padding: 2px 0 0 0;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: global.$basic-blue;
  border: none;
  box-sizing: border-box;
}

.header-mm-menu__search-button-icon {
}

.header-mm-menu__search-button-text {
  display: none;
}

.header-mm-menu__action-button-heart {
  grid-row: 1/2;
  grid-column: 4/5;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid global.$border-grey;
}

.header-mm-menu__action-button-heart-icon {
  margin: 8px 0 0 8px;
}

.header-mm-menu__action-button-heart-icon:hover path {
  fill: global.$basic-blue;
}

.header-mm-menu__action-button-robot {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid global.$border-grey;
  margin-left: 6px;
}

.header-mm-menu__action-button-robot-icon {
  display: block;
  margin: 10px 0 0 9px;
}

.header-mm-menu__action-button-robot-icon:hover g path {
  fill: global.$basic-blue;
}

.header-mm-menu__action-button-chest {
  position: relative;
  grid-row: 1/2;
  grid-column: 5/6;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid global.$border-grey;
  margin-left: 6px;
}

.header-mm-menu__action-button-chest::before {
  position: absolute;
  content: '20';
  width: 20px;
  height: 20px;
  top: -11px;
  right: -5px;
  border-radius: 50%;
  background: global.$basic-blue;
  color: global.$basic-white;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
}

.header-mm-menu__action-button-chest-icon {
  display: block;
  margin: 9px 0 0 9px;
}

.header-mm-menu__action-button-chest-icon:hover path {
  fill: global.$basic-blue;
}

.header-mm-menu__catalogue-title-container {
  width: 328px;
  margin: 0 auto 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-mm-menu__catalogue-prev-link {
  text-decoration: none;
}

.header-mm-menu__prev-link:hover svg path {
  stroke: global.$basic-blue;
}

.header-mm-menu__prev-link-icon {
  display: inline-block;
  margin-left: 8px;
  transform: rotate(180deg);
}

.header-mm-menu__catalogue-title {
  margin: 2px 0 0 36px;
  padding: 0;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  color: global.$basic-black;
}

.header-mm-menu__catalogue-list {
  width: 328px;
  margin: 0 auto 22px;
}

.header-mm-menu__catalogue-item + .header-mm-menu__catalogue-item {
  margin-top: 10px;
}

.header-mm-menu__catalogue-link {
  width: 328px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: global.$basic-grey;
  text-decoration: none;
  padding: 12px 17px 12px 14px;
  box-sizing: border-box;
}

// .header-mm-menu__catalogue-item:not(.header-mm-menu__catalogue-item:first-child)
//   .header-mm-menu__catalogue-link {
//   padding: 12px 17px 12px 14px;
// }

.header-mm-menu__catalogue-text {
  margin-left: 15px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: global.$basic-black;
}

.header-mm-menu__catalogue-link:hover .header-mm-menu__catalogue-text {
  color: global.$basic-blue;
}

.header-mm-menu__catalogue-link:hover .header-mm-menu__catalogue-arrow path {
  stroke: global.$basic-blue;
}

.header-mm-menu__catalogue-arrow {
  margin-left: auto;
}

.header-mm-menu__catalogue-title-container {
  width: 328px;
  margin: 0 auto 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-mm-menu__catalogue-title-icon {
  display: inline-block;
  margin-left: 8px;
  transform: rotate(180deg);
}

.header-mm-menu__catalogue-title {
  margin: 2px 0 0 36px;
  padding: 0;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  color: global.$basic-black;
}

// smartphones
.header-mm-menu__smartphones-title-container {
  width: 328px;
  margin: 0 auto 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-mm-menu__smartphones-title-icon {
  display: inline-block;
  margin-left: 8px;
  transform: rotate(180deg);
}

.header-mm-menu__smartphones-title {
  margin: 2px 0 0 36px;
  padding: 0;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  color: global.$basic-black;
}

.header-mm-menu__smartphones-list {
  width: 328px;
  margin: 0 auto 22px;
}

.header-mm-menu__smartphones-item + .header-mm-menu__smartphones-item {
  margin-top: 11px;
}

.header-mm-menu__smartphones-link {
  width: 328px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: global.$basic-grey;
  text-decoration: none;
  padding: 12px 17px 17px 14px;
  box-sizing: border-box;
}

.header-mm-menu__smartphones-text {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: global.$basic-black;
}

.header-mm-menu__smartphones-count {
  margin-left: 10px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: global.$basic-black-transparent-2;
}

.header-mm-menu__smartphones-arrow {
  margin-left: auto;
}

.header-mm-menu__smartphones-item:hover .header-mm-menu__smartphones-text {
  color: global.$basic-blue;
}

.header-mm-menu__smartphones-item:hover
  .header-mm-menu__smartphones-arrow
  path {
  stroke: global.$basic-blue;
}
// gadgets
.header-mm-menu__gadgets-title-container {
  width: 328px;
  margin: 0 auto 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-mm-menu__gadgets-title-icon {
  display: inline-block;
  margin-left: 8px;
  transform: rotate(180deg);
}

.header-mm-menu__gadgets-title {
  margin: 2px 0 0 36px;
  padding: 0;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  color: global.$basic-black;
}

.header-mm-menu__gadgets-list {
  width: 328px;
  margin: 0 auto 22px;
}

.header-mm-menu__gadgets-item + .header-mm-menu__gadgets-item {
  margin-top: 11px;
}

.header-mm-menu__gadgets-link {
  width: 328px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: global.$basic-grey;
  text-decoration: none;
  padding: 12px 17px 17px 14px;
  box-sizing: border-box;
}

.header-mm-menu__gadgets-text {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: global.$basic-black;
}

.header-mm-menu__gadgets-count {
  margin-left: 10px;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: global.$basic-black-transparent-2;
}

.header-mm-menu__gadgets-arrow {
  margin-left: auto;
}

.header-mm-menu__gadgets-item:hover .header-mm-menu__gadgets-text {
  color: global.$basic-blue;
}

.header-mm-menu__gadgets-item:hover .header-mm-menu__gadgets-arrow path {
  stroke: global.$basic-blue;
}
