@use '../global.scss';

.header-dt {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.header-dt__promo {
  padding: 85px 0 81px;
  background: url(../img/gamepad-image-desktop.png) 874px 0 no-repeat,
    linear-gradient(
      115deg,
      global.$gradient-1 0%,
      global.$gradient-1 35%,
      global.$gradient-2 77%,
      global.$gradient-2 85%,
      global.$gradient-3 90%,
      global.$gradient-3 100%
    );
  background-size: auto, auto;
}

.header-dt__promo-container {
  width: 1358px;
  margin: 0 auto;
}

.header-dt__promo-title {
  margin: 0;
  padding: 0;
}

.header-dt__promo-title {
  margin: 0 0 25px 58px;
  font-family: global.$tenor-sans-regular;
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
  color: global.$basic-white;
  width: 729px;
}

.header-dt__promo-text-desktop {
  display: block;
  margin: 0 0 24px 58px;
  width: 639px;
  padding: 0;
  font-family: global.$tenor-sans-regular;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  color: global.$basic-white;
  line-height: 24px;
}

.header-dt__promo-text-desktop-view {
  display: none;
}

.header-dt__promo-button {
  display: block;
  display: flex;
  justify-content: center;
  padding: 18px 0;
  margin: 0 0 0 58px;
  width: 150px;
  border-radius: 8px;
  background: global.$basic-white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #753d7e;
}
