@use '../global.scss';

.header {
  width: 360px;
  margin: 0 auto;

  // @media (min-width: global.$desktop-width) {
  //   width: 1440px;
  // }
}

.header__promo {
  padding: 30px 0 186px;
  background: url(../img/gamepad-image.png) 180px 195px no-repeat,
    linear-gradient(
      115deg,
      global.$gradient-1 0%,
      global.$gradient-1 35%,
      global.$gradient-2 77%,
      global.$gradient-2 85%,
      global.$gradient-3 90%,
      global.$gradient-3 100%
    );
  background-size: 110%, auto;

  // @media (min-width: global.$desktop-width) {
  //   padding: 85px 0 81px;
  //   background: url(../img/gamepad-image-desktop.png) 874px 0 no-repeat,
  //     linear-gradient(
  //       115deg,
  //       global.$gradient-1 0%,
  //       global.$gradient-1 35%,
  //       global.$gradient-2 77%,
  //       global.$gradient-2 85%,
  //       global.$gradient-3 90%,
  //       global.$gradient-3 100%
  //     );
  //   background-size: auto, auto;
  // }
}

.header__promo-container {
  width: 332px;
  margin: 0 auto;

  // @media (min-width: global.$desktop-width) {
  //   width: 1358px;
  // }
}

.header__promo-title {
  margin: 0;
  padding: 0;
}

.header__promo-title {
  margin: 0 0 12px 0;
  font-family: global.$tenor-sans-regular;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  color: global.$basic-white;

  // @media (min-width: global.$desktop-width) {
  //   font-size: 32px;
  //   width: 729px;
  //   margin: 0 0 25px 58px;
  // }
}

.header__promo-text-mobile {
  margin: 0 0 26px 0;
  padding: 0;
  font-family: global.$tenor-sans-regular;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: global.$basic-white;

  // @media (min-width: global.$desktop-width) {
  //   display: none;
  // }
}

.header__promo-text-desktop {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   display: block;
  //   margin: 0 0 24px 58px;
  //   width: 639px;
  //   padding: 0;
  //   font-family: global.$tenor-sans-regular;
  //   font-style: normal;
  //   font-size: 18px;
  //   font-weight: 400;
  //   color: global.$basic-white;
  //   line-height: 24px;
  // }
}

.header__promo-text-desktop-view {
  display: none;
}

.header__promo-button {
  display: block;
  display: flex;
  justify-content: center;
  padding: 17px 0;
  margin-left: 2px;
  width: 148px;
  border-radius: 8px;
  background: global.$basic-white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #753d7e;

  // @media (min-width: global.$desktop-width) {
  //   margin: 0 0 0 58px;
  //   width: 150px;
  //   padding: 18px 0;
  // }
}

.header__assemble-comp-button {
  width: 328px;
  margin: 0 auto 40px;
  border-radius: 5px;
  background: global.$basic-grey;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
}

.header__assemble-comp-button-text {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: global.$basic-blue;
}

.header__links-list {
  width: 328px;
  margin: 0 auto;
}

.header__link-item {
  border-bottom: 1px solid global.$basic-dark-grey;
}

.header__link-item + .header__link-item {
  margin-top: 20px;
}

.header__link {
  padding-bottom: 10px;
  display: block;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: global.$basic-black;
  text-decoration: none;
}
