@use '../global.scss';

.header-menu__info-container {
  background: #f4f4f4;
  padding: 5px 0 4px;

  // @media (min-width: global.$desktop-width) {
  //   padding: 8px 0 8px;
  // }
}

.header-menu__inner-container {
  width: 328px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // @media (min-width: global.$desktop-width) {
  //   width: 1358px;
  //   justify-content: flex-start;
  // }
}

.header-menu__location {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: center;
  //   text-decoration: none;
  //   order: 1;
  // }
}

.header-menu__location-icon {
  display: inline-block;
}

.header-menu__location-city {
  // @media (min-width: global.$desktop-width) {
  //   margin-left: 4px;
  //   display: inline-block;
  //   font-family: Arial, sans-serif;
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 13px;
  //   color: global.$basic-black;
  // }
}

.header-menu__location-icon:hover g path {
  fill: global.$basic-blue;
}

.header-menu__location-city:hover {
  color: global.$basic-blue;
}

.header-menu__schedule {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: center;
  //   order: 3;
  //   margin: 0 0 0 343px;
  //   padding: 0;
  // }
}

.header-menu__schedule span {
  // @media (min-width: global.$desktop-width) {
  //   display: inline-block;
  //   font-family: Arial, sans-serif;
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 13px;
  //   color: global.$basic-black;
  // }
}

.header-menu__schedule-begin {
  // @media (min-width: global.$desktop-width) {
  //   margin-left: 16px;
  // }
}

.header-menu__schedule-dash {
  // @media (min-width: global.$desktop-width) {
  //   margin-left: 6px;
  // }
}

.header-menu__schedule-end {
  // @media (min-width: global.$desktop-width) {
  //   margin-left: 6px;
  // }
}

.header-menu__links-list {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: center;
  //   order: 4;
  //   margin-left: 407px;
  // }
}

.header-menu__link-item + .header-menu__link-item {
  // @media (min-width: global.$desktop-width) {
  //   margin-left: 19px;
  // }
}

.header-menu__link {
  // @media (min-width: global.$desktop-width) {
  //   text-decoration: none;
  // }
}

.header-menu__link-text {
  // @media (min-width: global.$desktop-width) {
  //   font-family: Arial, sans-serif;
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 13px;
  //   color: global.$basic-black;
  // }
}

.header-menu__link-text:hover {
  color: global.$basic-blue;
}

.header-menu__languages-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  // @media (min-width: global.$desktop-width) {
  //   display: none;
  // }
}

.header-menu__languages-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu__languages-list {
  order: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
}

.header-menu__language-item + .header-menu__language-item {
  margin-left: 2px;
}

.header-menu__language-item-bar {
  display: inline-block;
  font-family: global.$arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: global.$basic-black;
}

.header-menu__language-button {
  display: inline-block;
  font-family: global.$arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: global.$basic-black-transparent-1;
  text-decoration: none;
}

.header-menu__language-button:hover {
  color: global.$basic-blue;
}

.header-menu__language-button--active {
  color: global.$basic-black;
}

.header-menu__language-item-bar {
  color: global.$basic-black;
}

.header-menu__phone {
  order: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;

  // @media (min-width: global.$desktop-width) {
  //   order: 2;
  //   margin-left: 12px;
  // }
}

.header-menu__phone-icon {
  display: inline-block;
  margin-right: 7px;
}

.header-menu__phone-icon:hover path {
  fill: global.$basic-blue;
}

.header-menu__phone .header-menu__phone-number {
  font-family: global.$arial;
  font-style: normal;
  font-weight: 400;
  color: global.$basic-black;
  font-size: 14px;
  display: inline-block;
}

.header-menu__phone-number:hover {
  color: global.$basic-blue;
}

.header-menu__content-container {
  display: grid;
  grid-template-rows: 58px 46px;
  grid-template-columns: 40px 46px 156px 40px 46px;
  width: 328px;
  // margin: 0 auto 24px;
  margin: 0 auto;
  padding: 17px 0 24px;

  // @media (min-width: global.$desktop-width) {
  //   width: 1358px;
  //   grid-template-rows: 64px 58px;
  //   grid-template-columns: 115px 117px 678px 143px 131px 64px 64px 48px;
  //   margin: 0 auto;
  //   padding: 17px 0 7px;
  // }
}

.header-logo__link {
  grid-row: 1/2;
  grid-column: 3/4;
  margin: -8px 0 0 50px;

  // @media (min-width: global.$desktop-width) {
  //   grid-row: 1/3;
  //   grid-column: 1/2;
  //   margin: 0;
  // }
}

.header-logo__link svg {
  // @media (min-width: global.$desktop-width) {
  //   width: 80px;
  //   height: 80px;
  // }
}

.header-menu__button {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: global.$basic-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  // @media (min-width: global.$desktop-width) {
  //   grid-row: 1/2;
  //   grid-column: 2/3;
  //   width: 101px;
  //   height: 48px;
  //   border-radius: 8px;
  // }
}

.header-menu__button--opened {
  background: global.$basic-dark-grey;
}

.header-menu__button svg {
  // @media (min-width: global.$desktop-width) {
  //   width: 41px;
  //   height: 16px;
  // }
}

.header-menu__action-button-heart {
  grid-row: 1/2;
  grid-column: 4/5;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid global.$border-grey;

  // @media (min-width: global.$desktop-width) {
  //   grid-row: 1/2;
  //   grid-column: 6/7;
  //   width: 48px;
  //   height: 48px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
}

.header-menu__action-button-heart-icon {
  margin: 8px 0 0 8px;

  // @media (min-width: global.$desktop-width) {
  //   margin: 0;
  //   width: 24px;
  //   height: 24px;
  // }
}

.header-menu__action-button-heart-icon:hover path {
  fill: global.$basic-blue;
}

.header-menu__action-button-robot {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid global.$border-grey;
  margin-left: 6px;

  // @media (min-width: global.$desktop-width) {
  //   grid-row: 1/2;
  //   grid-column: 7/8;
  //   width: 48px;
  //   height: 48px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   margin: 0;
  // }
}

.header-menu__action-button-robot-icon {
  display: block;
  margin: 10px 0 0 9px;

  // @media (min-width: global.$desktop-width) {
  //   margin: 0;
  //   width: 24px;
  //   height: 24px;
  // }
}

.header-menu__action-button-robot-icon:hover g path {
  fill: global.$basic-blue;
}

.header-menu__action-button-chest {
  position: relative;
  grid-row: 1/2;
  grid-column: 5/6;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid global.$border-grey;
  margin-left: 6px;

  // @media (min-width: global.$desktop-width) {
  //   grid-row: 1/2;
  //   grid-column: 8/9;
  //   width: 48px;
  //   height: 48px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   margin: 0;
  // }
}

.header-menu__action-button-chest::before {
  position: absolute;
  content: '20';
  width: 20px;
  height: 20px;
  top: -11px;
  right: -5px;
  border-radius: 50%;
  background: global.$basic-blue;
  color: global.$basic-white;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;

  // @media (min-width: global.$desktop-width) {
  //   display: none;
  // }
}

.header-menu__action-button-chest-icon {
  display: block;
  margin: 9px 0 0 9px;

  // @media (min-width: global.$desktop-width) {
  //   margin: 0;
  //   width: 24px;
  //   height: 24px;
  // }
}

.header-menu__action-button-chest-icon:hover path {
  fill: global.$basic-blue;
}

.header-menu__search-form {
  grid-row: 2/3;
  grid-column: 1/6;
  width: 326px;
  border: 1px solid global.$basic-blue-transparent-1;
  border-radius: 5px;
  display: flex;
  justify-content: flex;
  align-items: flex-start;

  // @media (min-width: global.$desktop-width) {
  //   width: 651px;
  //   grid-row: 1/2;
  //   grid-column: 3/4;
  //   align-self: start;
  // }
}

.header-menu__search-input {
  margin: 0;
  padding: 0 0 0 16px;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;

  // @media (min-width: global.$desktop-width) {
  //   padding: 15px 0 15px 24px;
  // }
}

.header-menu__search-input::placeholder {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: global.$basic-black-transparent-2;
}

.header-menu__search-button {
  margin: 2px 0 0 -42px;
  padding: 2px 0 0 0;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: global.$basic-blue;
  border: none;
  box-sizing: border-box;

  // @media (min-width: global.$desktop-width) {
  //   width: 81px;
  //   margin-right: 3px;
  // }
}

.header-menu__search-button-icon {
  // @media (min-width: global.$desktop-width) {
  //   display: none;
  // }
}

.header-menu__search-button-text {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   display: inline-block;
  //   font-family: Arial, sans-serif;
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 14px;
  //   color: global.$basic-white;
  // }
}

.header-menu__social-list {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   grid-row: 1/2;
  //   grid-column: 4/5;
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: flex-start;
  // }
}

.header-menu__social-item + .header-menu__social-item {
  // @media (min-width: global.$desktop-width) {
  //   margin-left: 8px;
  // }
}

.header-menu__social-link {
  // @media (min-width: global.$desktop-width) {
  //   width: 48px;
  //   height: 48px;
  //   border-radius: 5px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   background-color: global.$basic-grey;
  // }
}

.header-menu__social-icon:hover path {
  fill: global.$basic-blue;
}

.header-menu__languages-second-container {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   margin: 11px 0 0 0;
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: flex-start;
  //   align-self: start;
  // }
}

.header-menu__languages-second-list {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: flex-start;
  //   margin: 3px 0 0 5px;
  // }
}

.header-menu__language-second-button {
  // @media (min-width: global.$desktop-width) {
  //   text-decoration: none;
  // }
}

.header-menu__language-second-button,
.header-menu__language-second-item-bar {
  // @media (min-width: global.$desktop-width) {
  //   font-family: Arial, sans-serif;
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 14px;
  //   color: global.$basic-black-transparent-1;
  // }
}

.header-menu__language-second-button:hover {
  color: global.$basic-blue;
}

.header-menu__language-second-item-bar {
  // @media (min-width: global.$desktop-width) {
  //   margin: 0 3px;
  // }
}

.header-menu__language-second-button--active {
  // @media (min-width: global.$desktop-width) {
  //   color: global.$basic-black;
  // }
}

.header-menu__sections-buttons-list {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   grid-row: 2/3;
  //   grid-column: 2/5;
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: flex-start;
  // }
}

.header-menu__sections-button-item + .header-menu__sections-button-item {
  // @media (min-width: global.$desktop-width) {
  //   margin-left: 30px;
  // }
}

.header-menu__sections-button {
  // @media (min-width: global.$desktop-width) {
  //   padding: 10px 12px 10px 12px;
  //   border-radius: 10px;
  //   background: global.$basic-grey;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   text-decoration: none;
  // }
}

.header-menu__sections-button svg {
  // @media (min-width: global.$desktop-width) {
  //   display: inline-block;
  // }
}

.header-menu__sections-button-text {
  // @media (min-width: global.$desktop-width) {
  //   font-family: Arial, sans-serif;
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 15px;
  //   color: global.$basic-black;
  //   margin-left: 10px;
  // }
}

.header-menu__sections-button:hover .header-menu__sections-button-text {
  color: global.$basic-blue;
}

.header-menu__assemble-computer-button {
  display: none;

  // @media (min-width: global.$desktop-width) {
  //   display: flex;
  //   justify-content: center;
  //   align-items: flex-start;
  //   grid-row: 2/3;
  //   grid-column: 6/9;
  //   background: global.$basic-grey;
  //   border-radius: 8px;
  //   width: 176px;
  //   align-self: start;
  //   padding: 12px 0;
  //   text-decoration: none;
  // }
}

.header-menu__assemble-computer-text {
  // @media (min-width: global.$desktop-width) {
  //   display: inline-block;
  //   font-family: Arial, sans-serif;
  //   font-style: normal;
  //   font-weight: 400;
  //   font-size: 15px;
  //   color: global.$basic-blue;
  // }
}

.header-menu__assemble-computer-button:hover {
  background: global.$basic-blue;
}

.header-menu__assemble-computer-button:hover
  .header-menu__assemble-computer-text {
  color: global.$basic-white;
}

.header-menu__assemble-computer-button:hover
  .header-menu__assemble-computer-icon
  path {
  stroke: global.$basic-white;
}
