@use 'fonts.scss';

$maza: 'Maza';
$tenor-sans-regular: 'Tenor Sans Regular';
$arial: 'Arial';

$basic-white: #ffffff;
$basic-black: #343a3f;
$basic-black-transparent-1: rgba(52, 58, 63, 0.4);
$basic-black-transparent-2: rgba(52, 58, 63, 0.5);
$basic-grey: #f4f4f4;
$basic-dark-grey: #e8e8e8;
$basic-blue: #4888ff;
$basic-blue-transparent-1: rgba(72, 136, 255, 0.2);
$border-grey: #d3d3d3;
$gradient-1: #753d7e;
$gradient-2: #5aacd4;
$gradient-3: #59b2dc;

$desktop-width: 1440px;

body {
  min-width: 360px;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
